#hotellist{
	width: 100%;
	height: auto;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: auto;
	text-align: center;
	background-color:#6AC134 ;
	font-size: 0;
}
.header a{
	width: 33%;
	color: white;
	vertical-align: middle;
}
.header img{
	width: 15%;
	height: auto;
	padding: 0 20px;
}
.header h4{
	margin:20px 0;
	font-weight: 300;
	font-size: 22px;
}
.header p{
	margin: 0;
	padding:0 20px;
	font-size: 14px;
}
.home{
	text-align: left;
}
.return{
	text-align: right;
}
@media only screen and (max-width:480px) {
	.header p {
		padding: 0 15px;
	}
}
.main>ul{
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E9E9EB;
}
.main>ul>li{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	background-color: white;
}
.main a{
	width:80%;
}
.name{
	width: 100%;
	height: auto;
	padding-left: 80px;
	padding-bottom: 15px;
	border-bottom: 1px solid #E7EAEB;
}
.hotel1{
	background: url(../img/hotel1.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.hotel2{
	background: url(../img/hotel2.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.hotel3{
	background: url(../img/hotel3.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.hotel4{
	background: url(../img/hotel4.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.hotel5{
	background: url(../img/hotel5.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.hotel6{
	background: url(../img/hotel6.jpg)no-repeat 5px 5px;
	background-size: 80px 80px;
}
.name h2{
	font-size: 18px;
	color: #0088CC;
	margin: 5px;
}
.name p{
	margin: 5px;
	font-size: 14px;
}
.operation{
	width: 100%;
	height: auto;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.operation>a{
	width: 33%;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	color:#00D262 ;
}
.weixin{
	background: url(../img/icon_weixin.png) no-repeat 15% center;
	background-size: 25px 25px;
}
.gps{
	background: url(../img/icon_gps2.png) no-repeat 15% center;
	background-size: 25px 25px;
}
.shijing{
	background: url(../img/icon_reality.png) no-repeat 15% center;
	background-size: 25px 25px;
}
.footer{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.footer a{
	color: #0088CC;
}
.footer p{
	margin: 0;
	color: #BBBBBB;
}
